.App {
  background-color: #00ff88;
  height: 100%;
}

.team-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 20px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 20px 50px;
  margin: 20px;
  width: 200px;
  height: 400px;
  text-align: center;
  /* border: 1px solid #ff2882; */
  /* background-color: #963cff; */
}
.card .badge {
  width: 125px;
  height: auto;
}
.card .stadium {
  margin: 20px 0;
}
.card .jersey {
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
  height: 100px;
  width: auto;
}